<h1>Player Two, Enter your play!</h1>
<form action='/twoPlayerResults'>
  <div class="form-group">
    <select name="playerTwo">
      <option value="Scissors">Scissors</option>
      <option value="Paper">Paper</option>
      <option value="Rock">Rock</option>
    </select>
  </div>
    <input type="hidden" name="playerOne" value=$playerOne>
  <button type="submit" id="playerTwoSelection" class="btn btn-warning">Lock in your choice!</button>
</form>
